<form action="/links/proceso3" method="post">
<div class="back">
    <h1 style="text-align: center; padding: 20px ;">Proceso 3: Pintado de las
        piezas</h1>
    <div style="display: flex; justify-content: center;">
        <div class="row">
            <div class="col" style="display: flex; justify-content:center;">
                <div class="card" style="width: 20rem;">
                    <img
                        src="http://materialesalatorre.com/wp-content/uploads/2015/12/NEGRO.jpg"
                        class="card-img-top" sizes="100px"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Aplicar pintura negra</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"
                                value="" id="paso1" required>
                            <label class="form-check-label" for="paso1">
                                Completado
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" style="display: flex; justify-content:center;">
                <div class="card" style="width: 20rem;">
                    <img
                        src="https://www.lauraashley.es/14967-large_default/pintura-gris-humo.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Aplicar pintura gris</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"
                                value="" id="paso2" required>
                            <label class="form-check-label" for="paso2">
                                Completado
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="padding: 20px; display: flex; justify-content:center; align-content:
    center;">
    <button type="submit" class="btn btn-primary">Siguiente</button>
</div>
</form>