<form action="/links/proceso5" method="post">
<div class="back">
    <h1 style="text-align: center; padding: 20px ;">Proceso 5: Piezas terminadas</h1>
    <div class="container text-center">
        <div class="row">
            <div class="col" style="display: flex; justify-content:center;">
                <div class="card" style="width: 30rem;">
                    <img
                        src="https://png.clipart.me/istock/previews/2877/28779778-completed-stamp.jpg"
                        class="card-img-top" sizes="100px" alt="...">
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="padding: 20px; display: flex; justify-content:center; align-content:
    center;">
    <button type="submit" class="btn btn-primary">Volver al inicio</button>
</div>
</form>