<div class="back">
    <h1 style="text-align: center; padding: 20px ;">Proceso 2.1(Opcional):
        Prensado</h1>
    <div class="container text-center">
        <div class="row">
            <div class="col" style="display: flex; justify-content:center;">
                <div class="card" style="width: 30rem;">
                    <img
                        src="https://yieh.com/Common/ShowaImg?faname=4BD075EDADDBDBC1A2AF05A8D85F02FC2965C4CA3932F74293978ACCDC9F7CB6B0DFFEAEB8EB8EAE85B8A9A96BBA30A1"
                        class="card-img-top" sizes="100px" alt="...">
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="padding: 20px; display: flex; justify-content:center; align-content:
    center;">
    <button type="button" class="btn btn-primary m-4"><a href="proceso3"
            class="btn btn-primary">Siguiente</a></button>
</div>